{% embed 'base.html.twig' with {'title': 'Erreur 404', 'subtitle': 'Page not fou... non wallah je suis pas une erreur traditionnel jsuis anticonformiste'} %}

{% block body %}
    <div class="container fullscreen">

        <div class="generic-card fullscreen">
            <header>
                <h1>{{ title }}</h1>
                <p class="subtitle">{{ subtitle }}</p>
            </header>
            <div class="content-site fullscreen">

                Tu t'es perdu parce que la page n'existe pas, désolé de te décevoir. Choqué et déçu de ton comportement.
                <a href="{{ path('homepage') }}" class="btn btn-alt btn-medium"><i class="fa fa-home">&nbsp;&nbsp;</i> Retourner à l'accueil</a>
            </div>


        </div>
    </div>

    <style>
        .generic-card header {
            background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, #8b5141 20%, #772812 80%) center, center, center;
        }
    </style>
{% endblock %}

{% endembed %}