{% embed 'base.html.twig' with {'title': 'Erreur 403', 'subtitle': "T'a vraiment cru t'avais accès à cette page petit coquin ?"} %}

{% block body %}
    <div class="container fullscreen">

        <div class="generic-card fullscreen">
            <header>
                <h2>{{ title }}</h2>
                <p class="subtitle">{{ subtitle }}</p>
            </header>
            <div class="content fullscreen">

                Tu n'as pas les droits requis pour accéder à cette page (tu vois, les permissions ça sert à un truc). Je te conseillerai qu'une chose : 
                <a href="{{ path('homepage') }}" class="btn btn-alt btn-medium"><i class="fa fa-home">&nbsp;&nbsp;</i> Retourner à l'accueil</a>
            </div>


        </div>
    </div>

    <style>
        .generic-card header {
            background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, #8b5141 20%, #772812 80%) center, center, center;
        }
    </style>
{% endblock %}

{% endembed %}