{% autoescape false %}
    <h1>{{ sender.firstName }}  {{ sender.lastName }} vous a envoyé un message !</h1>
    <p class="message">{{ content }}</p>

    <hr>
    <p>Si vous désirez lui répondre, contactez le dès maintenant : <a
                href="mailto:{{ sender.mail }}">{{ sender.mail }}</a></p>

    Envoyé depuis la plateforme &laquo; le Plumeau Magique &raquo;
{% endautoescape %}