{% autoescape false %}
    <h1>{{ sender.firstName }}  {{ sender.lastName }} vous a envoyé un message !</h1>
    <hr>

    <p class="message">{{ content }}</p>

    <hr>
    <p>Si vous désirez lui répondre, contactez la personne dès maintenant : <a
                href="mailto:{{ sender.mail }}">{{ sender.mail }}</a></p>

    Envoyé depuis la plateforme &laquo; le <a href="{{ absolute_url(path("homepage")) }}">Plumeau Magique</a> &raquo;
{% endautoescape %}