{% autoescape false %}
    <div class="container" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif">
        <h1>{{ sender.firstName }}  {{ sender.lastName }} vous a envoyé un message !</h1>
        <hr>

        <p class="message">{{ content }}</p>

        <hr>
        <p>Si vous désirez lui répondre, contactez la personne dès maintenant : <a
                    href="mailto:{{ sender.mail }}">{{ sender.mail }}</a></p>

        Envoyé depuis la plateforme &laquo; <a href="{{ absolute_url(path("homepage")) }}">{{ site_name }}</a> &raquo;
    </div>
{% endautoescape %}