<div class="student-item {% if app.user.username|default('anon.') == student.username %} is-connected {% endif %}">
    <a class="student-link" href="{% if app.user.username|default('anon.') == student.username %}{{ path('my_profile') }}{% else %}{{ path('profile', {'username': student.username}) }}{% endif %}">
        <div class="item-thumbnail" style="background: url('{% if vich_uploader_asset(student, 'profilePictureFile') is not null %}{{ dropbox_client.createTemporaryDirectLink(vich_uploader_asset(student, 'profilePictureFile'))[0] }}{% elseif student.fbid is not null %}{{ student.facebookImageUrl }}{% else %}{{ asset('img/students/default.jpg') }}{% endif %}'); background-position: center center; background-size: cover;">
            <div class="item-title"><h2>{{ student.fullName }}</h2></div>
            <div class="img-overlay"></div>
        </div>
        <div class="item-description">{{ student.description|default('Étudiant en DUT MMI à l\'université Paris-Est Marne La Vallée')|truncate(61, '...') }}</div>
    </a>
</div>
