<div class="card {% if app.user.username|default('anon.') == student.username %} is-connected {% endif %}">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <a class="ui vertical inverted animated button"
                       href="{% if app.user.username|default('anon.') == student.username %}{{ path('my_profile') }}
                    {% else %}{{ path('profile', {'username': student.username}) }}{% endif %}" tabindex="0">
                        <div class="visible content">
                            Voir {% if app.user.username|default('anon.') == student.username %}mon{% else %}son{% endif %}
                            profil
                        </div>
                        <div class="hidden content">
                            <i class="zoom icon"></i>
                        </div>
                    </a>
                    <div class="student-metadata">
                        <div class="student-age"><i class="birthday icon"></i> {{ student.age }} ans
                        </div>
                        <div class="student-group"><i class="users icon"></i> Groupe {{ student.groupeTp }}
                        <div class="student-role"><i class="fa fa-reply"></i> {{ student.projectRole}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img alt="{{ student.fullname }}"
             src="{% if vich_uploader_asset(student, 'profilePictureFile') is not null %}{{ dropbox_client.createTemporaryDirectLink(vich_uploader_asset(student, 'profilePictureFile'))[0] }}{% elseif student.fbid is not null %}{{ student.facebookImageUrl }}{% else %}{{ asset('img/students/default.jpg') }}{% endif %}">
    </div>
    <div class="content">
        <a href="{% if app.user.username|default('anon.') == student.username %}{{ path('my_profile') }}{% else %}{{ path('profile', {'username': student.username}) }}{% endif %}"
           class="header">{{ student.fullname }}</a>
        <div class="meta">
            <span>{% if student.linkedin or student.viadeo %}{{ student.description|truncate(75, '...') }}{% else %}{{ student.description|truncate(130, '...') }}{% endif %}</span>
        </div>
    </div>
    {% if student.linkedin or student.viadeo %}
        <div class="extra content" {% if student.linkedin and student.viadeo %}style="align-self: center;"{% endif %}>
            {% if student.linkedin %}
                <a href="{{ student.linkedin }}" class="ui linkedin button">
                    <i class="linkedin icon"></i>
                    LinkedIn
                </a>
            {% endif %}
            {% if student.viadeo %}
                <a href="{{ student.viadeo }}" class="ui viadeo button">
                    <i class="fa fa-viadeo"></i>
                    Viadeo
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
