<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ site_name }} | {{ title }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('style/semantic.css') }}">
        <link rel="stylesheet" href="{{ asset('style/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('style/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('style/app.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('style/dist/app.min.css') }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    {% block customcss %}{% endblock %}
</head>
<body>

<nav class="nav fixed {% if isFullscreen|default(false) or title == 'Accueil' %}before-scroll{% endif %}">
    <div class="container">
        <div class="brand">
            <a href="{{ path('homepage') }}">
                {#<img src="{{ asset('img/logo.png') }}" alt="">#}
                <div class="brand-image"></div>
            </a>
        </div>
        <div class="nav-links">
            {{ render(controller('AppBundle:Default:dislayMenu')) }}
        </div>
    </div>
</nav>

{% block body %}

{% endblock %}

{% if app.environment == "dev" %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/semantic.js') }}"></script>
{% else %}
    <script src="{{ asset('js/dist/app.min.js') }}"></script>
{% endif %}
<script>

    $('nav.nav').on('animationend', function(e) {
       console.log("anim fini");
        $('.brand-image').removeClass('animated fadeIn')

    });

    $(window).on('scroll', function (e) {
        let scrollPos = $(window).scrollTop();

        let navbar = $('nav.nav');
        let limitElem = $('.greetings, .generic-card.fullscreen > header');
        let limit = limitElem.offset().top + limitElem.outerHeight();
        let position = Math.round($(window).scrollTop());

        if(position < limit - 65)
        {
            $('.greetings header, .generic-card.fullscreen > header > div').css({
                'position': 'relative',
                'left': 0,
                'top': (scrollPos * 0.55) + "px",
                "opacity": 1 - (scrollPos * 0.0025)
            });
            $('.brand img').attr('src', '/img/logo_c.png');
        }


        if(position < (limit - 65)){
            navbar.addClass('before-scroll');

        } else {
            navbar.removeClass('before-scroll');
        }
    });

    $('nav li').hover(function(){
        console.log($(this));
    });
</script>
{% block javascripts %}

{% endblock %}

<footer class="footer {% if title == "Accueil" %}footer-index{% endif %}">
    <div class="container">
        &copy; {{ 'now'|date('Y') }} - {{ site_name }} - Tous droits réservés - Propulsé par Symfony
    </div>
</footer>
</body>
</html>
