<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ site_name }} | {{ title }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('style/semantic.css') }}">
        <link rel="stylesheet" href="{{ asset('style/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('style/app.css') }}">
    {% else %}
        <link rel="stylesheet" href="dist/{{ asset('style/dist/app.min.css') }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    {% block customcss %}{% endblock %}
</head>
<body>

<nav class="nav fixed">
    <div class="container">
        <div class="brand">
            <a href="{{ path('homepage') }}">{{ site_name }}</a>
        </div>
        <div class="nav-links">
            {{ render(controller('AppBundle:Default:dislayMenu')) }}
        </div>
    </div>
</nav>

{% block body %}

{% endblock %}

{% if app.environment == "dev" %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/semantic.js') }}"></script>
{% else %}
    <script src="{{ asset('js/dist/app.min.js') }}"></script>
{% endif %}
{% block javascripts %}

{% endblock %}

<footer class="footer {% if title == "Accueil" %}footer-index{% endif %}">
    <div class="container">
        &copy; {{ 'now'|date('Y') }} - {{ site_name }} - Tous droits réservés - Propulsé par Symfony
    </div>
</footer>
</body>
</html>
