{% embed 'base.html.twig' with {'title': 'Listes des élèves', 'isFullscreen': '1', 'subtitle': "(wllh l'apparence de cette page est pas fini jugez pas)", "randomHeaderColors": '1', 'randomHeaderColors': '1', 'studentPerRow': 4} %}


    {% block body %}

        <div class="container {% if isFullscreen %} fullscreen {% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <h2>{{ title }}</h2>
                    <p class="subtitle"
                       {% if search|default(false) %}style="background-color: rgba(0,0,0,0.5); width: 700px; margin: 40px auto 0 auto; padding: 30px;"{% endif %}>
                        {% if search|default(false) %} Résultat de votre recherche ({{ students|length }} étudiant{% if students|length > 1 %}s{% endif %})
                            <br/>
                            {% if app.request.get('gender') and app.request.get('gender') != 'both' %}<br><span
                                    class="bold">Sexe</span> : {{ app.request.get('gender')|str_replace('female', 'Féminin')|str_replace('male', 'Masculin') }} {% endif %}
                            {% if app.request.get('age') %}<br><span
                                    class="bold">Âge</span> : {{ app.request.get('age') }} ans {% endif %}
                            {% if app.request.get('bac') %}<br><span
                                    class="bold">Bac</span> : {{ app.request.get('bac')|join(', ') }} {% endif %}
                            {% if app.request.get('group') %}<br><span
                                    class="bold">Groupe de TP</span> : {{ app.request.get('group')|join(', ') }} {% endif %}
                            {% if app.request.get('role') %}<br><span
                                    class="bold">Rôle</span> : {{ app.request.get('role')|join(', ') }} {% endif %}
                            {% if app.request.get('prog_lang') %}<br><span
                                    class="bold">Langages informatique</span> : {{ app.request.get('prog_lang')|join(', ') }} {% endif %}
                            {% if app.request.get('langs') %}<br><span
                                    class="bold">Langues maîtrisés</span> : {{ app.request.get('langs')|join(', ') }} {% endif %}
                            {% if app.request.get('linkedin') and app.request.get('viadeo') %}<br><span class="bold">Possédant </span>
                                <i class="fa fa-linkedin">&nbsp;</i><i class="fa fa-viadeo">&nbsp;</i> {% else %}
                                {% if app.request.get('viadeo') %}<br><span class="bold">Possédant </span><i
                                        class="fa fa-viadeo"></i> {% endif %}
                                {% if app.request.get('linkedin') %}<br><span class="bold">Possédant </span><i
                                        class="fa fa-linkedin"></i> {% endif %}
                            {% endif %}


                        {% else %}
                            {{ subtitle }}
                        {% endif %}</p>
                </header>
                <div class="content-site {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}
                    {% endautoescape %}
                    <div class="ui modal">
                        <i class="close icon"></i>
                        <div class="header">
                            Recherche avancée
                        </div>
                        <form id="searchForm" class="ui form" method="get" action="{{ path('search') }}"
                              style="padding: 40px;">
                            <div class="ui form">
                                <h4 class="ui dividing header">Informations basiques</h4>
                                <div class="fields">
                                    <div class="seven wide field">
                                        <label>Groupe de TP</label>
                                        <select multiple="" class="ui dropdown" name="group[]">
                                            <option value="">Choisssisez des groupes</option>
                                            <option value="A">Groupe A</option>
                                            <option value="B">Groupe B</option>
                                            <option value="C">Groupe C</option>
                                            <option value="D">Groupe D</option>
                                        </select>
                                    </div>
                                    <div class="six wide field">
                                        <label>Sexe</label>
                                        <select class="ui dropdown" name="gender">
                                            <option value="">Choisssisez le sexe</option>
                                            <option value="male">Masculin</option>
                                            <option value="female">Féminin</option>
                                            <option value="both">Les deux</option>
                                        </select>
                                    </div>
                                    <div class="three wide field">
                                        <label>Age</label>
                                        <input name="age" placeholder="Entrez un âge" type="number" min="{{ minAge }}"
                                               max="{{ maxAge }}">
                                    </div>
                                </div>
                                <h4 class="ui dividing header">Autres informations</h4>
                                <div class="fields">
                                    <div class="nine wide field">
                                        <label>Rôle dans le projet</label>
                                        <select multiple="" class="ui dropdown" name="role[]">
                                            <option value="">Choisssisez des rôles</option>
                                            {% for role in projectRoles %}
                                                <option value="{{ role }}">{{ role }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="seven wide field">
                                        <label>Bac</label>
                                        <select multiple="" class="ui dropdown" name="bac[]">
                                            <option value="">Choisssisez le baccalauréat préparé</option>
                                            <option value="S">S</option>
                                            <option value="ES">ES</option>
                                            <option value="L">L</option>
                                            <option value="STMG">STMG</option>
                                            <option value="STI2D">STI2D</option>
                                            <option value="BAC PRO">BAC PRO</option>
                                        </select>
                                    </div>
                                </div>
                                <h4 class="ui dividing header">Compétences en langage informatique</h4>
                                {% for prog_lang in programmingLanguages %}
                                {% if loop.index0 % 8 == 0 %}
                                    <div class="fields">
                                {% endif %}
                                        <div class="inline field">
                                            <div class="ui checkbox">
                                                <input value="{{ prog_lang }}" class="hidden" name="prog_lang[]"
                                                       tabindex="0" type="checkbox">
                                                <label>{{ prog_lang }}</label>
                                            </div>
                                        </div>
                                {% if loop.index % 8 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                                <h4 class="ui dividing header">Langues maîtrisés</h4>
                                {% for lang in langs %}
                                {% if loop.index0 % 8 == 0 %}
                                    <div class="fields">
                                {% endif %}
                                        <div class="inline field">
                                            <div class="ui checkbox">
                                                <input value="{{ lang }}" class="hidden" name="langs[]"
                                                       tabindex="0" type="checkbox">
                                                <label>{{ lang }}</label>
                                            </div>
                                        </div>
                                {% if loop.index % 8 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                                <h4 class="ui dividing header">Possédant les réseaux professionnels suivants</h4>
                                <div class="fields">
                                    <div class="inline field">
                                        <div class="ui checkbox">
                                            <input value="true" class="hidden" name="linkedin" tabindex="0"
                                                   type="checkbox">
                                            <label><i class="fa fa-linkedin">&nbsp;&nbsp;</i>LinkedIn</label>
                                        </div>
                                        <div class="ui checkbox">
                                            <input value="true" class="hidden" name="viadeo" tabindex="0"
                                                   type="checkbox">
                                            <label><i class="fa fa-viadeo">&nbsp;&nbsp;</i>Viadeo</label>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="fields">
                                    <div class="sixteen wide field">
                                        <label>Tri</label>
                                        <select class="ui dropdown" name="sort">
                                            <option value="">Trier les résultats (par ordre alphabétique)</option>
                                            <option value="asc">Croissant</option>
                                            <option value="desc">Décroissant</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="actions">
                            <div id="searchButton" class="ui positive right labeled icon button">
                                Valider
                                <i class="checkmark icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" placeholder="Rechercher un élève..." type="text">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                            <button id="showAdvancedSearch" class="ui labeled icon primary button"
                                    style="width: 350px; margin-left: 40px; margin-right: 20px;">
                                <i class="filter icon"></i>
                                Afficher les options de recherche avancés
                            </button>
                            {% if search|default(false) %}
                                <a id="closeSearch" class="ui red icon button" href="{{ path('students_list') }}"
                                   data-content="Quitter la recherche">
                                    <i class="remove icon"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if students|length != 0 %}
                        {% for student in students %}
                            {% if loop.index0 % studentPerRow == 0 %}<div class="row"><div class="ui special cards">{% endif %}
                            {% embed 'templates/student/student_card.html.twig' with {'student': student} %}{% endembed %}
                            {% if loop.index % studentPerRow == 0 %}</div></div>{% endif %}
                        {% endfor %}
                    {% else %}
                        <h1 style="text-align: center;">La recherche n'a donné aucun résultat ! Veuillez réessayer avec
                            d'autres critères.</h1>
                    {% endif %}
                </div>
            </div>

        </div>


    {% endblock %}

    {% block javascripts %}
        <script>
            $('.ui.checkbox')
                    .checkbox()
            ;
            $('.ui.dropdown')
                    .dropdown()
            ;
            $('#closeSearch')
                    .popup()
            ;
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
            $('.ui.search')
                    .search({
                        apiSettings: {
                            url: '/api/groups/students?name={query}'
                        },
                        fields: {
                            title: 'full_name'
                        },
                        type: 'category',
                        searchDelay: 500
                    });
            $('#showAdvancedSearch').click(function () {
                $('.ui.modal')
                        .modal('show')
                ;
            });
            $('#searchButton').click(function () {
                $('#searchForm').submit();
            });


        </script>
    {% endblock %}

    {% block customcss %}


        {% if randomHeaderColors %}
            <style>
                .generic-card header {
                    background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
                }

            </style>
        {% endif %}

    {% endblock %}

{% endembed %}