{% embed 'base.html.twig' with {'title': 'Listes des élèves', 'isFullscreen': '1', 'subtitle': "(wllh l'apparence de cette page est pas fini jugez pas)", "randomHeaderColors": '1', 'randomHeaderColors': '1', 'studentPerRow': 2 } %}


    {% block body %}

        <div class="container {% if isFullscreen %} fullscreen {% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <h2>{{ title }}</h2>
                    <p class="subtitle">{{ subtitle }}</p>
                </header>
                <div class="content {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}
                    {% endautoescape %}
                    <div class="row">
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" placeholder="Rechercher un élève..." type="text">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    {% for student in students %}
                        {% if loop.index0 % studentPerRow == 0 %}<div class="row">{% endif %}
                            {% embed 'templates/student/student_card.html.twig' with {'student': student} %}{% endembed %}
                        {% if loop.index % studentPerRow == 0 %}</div>{% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>


    {% endblock %}

    {% block javascripts %}
        <script>
            {#var students = [{% for student in students %}#}
                {#{title: '{{ student.fullName }}',#}
                {#description: '{{ student.description|truncate(100, '...') }}',#}
                {#url: '{{ path('profile', {'username': student.username}) }}'}{% if not loop.last %},{% endif %}#}
                {#{% endfor %}];#}
            $.fn.modal.settings.debug = true;
            $.fn.modal.settings.verbose = true;
            $('.ui.search')
                    .search({
                        apiSettings: {url: '/api/groups/students?name={query}'},
                        fields: {
                            title: 'full_name'
                        },
                        type: 'category',
                        searchFullText: true
                    });
        </script>
    {% endblock %}

    {% block customcss %}

        {% if randomHeaderColors %}
            <style>
                .generic-card header {
                    background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
                }

            </style>
        {% endif %}

    {% endblock %}

{% endembed %}