{% embed 'base.html.twig' with {'title': homepage.title, 'subtitle': homepage.subtitle, 'isFullscreen': 1 } %}


{% block body %}
    <div class="container fullscreen home">
        {% autoescape false %}
            {% for message_danger in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger">{{ message_danger }}</div>
            {% endfor %}
            {% for message_success in app.session.flashBag.get('success') %}
                <div class="alert alert-success">{{ message_success }}</div>
            {% endfor %}
        {% endautoescape %}
        <section class="greetings">
            <header>
                <h1>{{ title }}</h1>
                <p class="subtitle">{{ subtitle }}</p>
            </header>
        </section>

        <section class="features">
            <header>
                <h2>{{ homepage.feature.title }}</h2>
            </header>
            <div class="content">
                {% for feature in homepage.feature.features %}

                    <div class="feature">
                        <div class="icon-container"><i class="fa fa-2x fa-{{ feature.icon }}"></i></div>
                        <h3>{{ feature.name }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>

                {% endfor %}

            </div>
        </section>
        <section class="features alt">
            <header>
                <h2>{{ homepage.mmiDetail.title }}</h2>
            </header>
            <div class="content alt">
                <h3>{{ homepage.mmiDetail.paragraph_title }}</h3>
                <p>{{ homepage.mmiDetail.content|raw }}</p>
            </div>
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

{% endembed %}

