{% embed 'base.html.twig' with {'title': 'Admin', 'isFullscreen': 1, 'subtitle': "Espace d'administration", "randomHeaderColors": 1} %}


    {% block body %}

        <div class="container {% if isFullscreen %} fullscreen {% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <div><h1>{{ title }}</h1>
                    <p class="subtitle">{{ subtitle }}</p></div>
                </header>
                <div class="content-site content-row {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}
                    {% endautoescape %}
                    <div class="ui grid stretch">
                        <div class="eight wide column">
                            <div class="pages">
                                <h3>Gérer les pages</h3>
                                <a href="{{ path('page_list') }}" class="btn btn-info btn-medium">Gérer les pages</a>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="users">
                                <h3>Gérer les élèves</h3>
                                <a href="{{ path('user_list') }}" class="btn btn-info btn-medium">Gérer les élèves</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    {% endblock %}


    {% block customcss %}

        {% if randomHeaderColors %}
            <style>
                .generic-card header {
                    background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
                    {% if isFullscreen|default(false) %} background-attachment: fixed; {% endif %}

                }

            </style>
        {% endif %}

    {% endblock %}

{% endembed %}