{% embed 'base.html.twig' with {'title': 'Liste des offres',
                        'isFullscreen': 1, 'randomHeaderColors': 1} %}


    {% block body %}

        <div class="container {% if isFullscreen|default(false) %} fullscreen{% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <div><h1>{{ title }}</h1>
                        <p class="subtitle">{{ offers|length }} offre{% if offers|length > 1 %}s{% endif %} disponibles</p></div>
                </header>
                <div class="content-site {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}
                    {% if not app.user %}
                        <a class="btn btn-success btn-medium" href="{{ path('offer_add') }}"><i class="fa fa-plus">&nbsp;&nbsp;</i>Ajouter une offre</a>
                    {% endif %}

                    <div class="ui items">
                        {% for offer in offers %}
                            <div class="item">
                                <div class="image">
                                    <img src="{% if offer.imageUrl %}{{ base_upload_url }}{{ vich_uploader_asset(offer, "imageFile") }}{% else %}{{ asset("img/offers/default.png") }}{% endif %}" alt="">
                                </div>
                                <div class="content">
                                    <a href="{{ path('offer_show', {'id': offer.id }) }}" class="header">{{ offer.title }}</a>
                                    <div class="meta">
                                        <span>{{ offer.entreprise }}</span>
                                    </div>
                                    <div class="description">
                                        <p>{{ offer.description }}</p>
                                    </div>
                                    <div class="extra">
                                        <i class="fa fa-map-marker"></i>{{ offer.localisation }}
                                    </div>
                                </div>
                            </div>
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% endautoescape %}

                </div>
            </div>
        </div>

    {% endblock %}

    {% block customcss %}

        {% if randomHeaderColors %}
            <style>
                .generic-card header {
                    background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
                {% if isFullscreen|default(false) %} background-attachment: fixed; {% endif %}

                }

            </style>
        {% endif %}

    {% endblock %}

{% endembed %}