{% embed 'base.html.twig' with {'title': offer.entreprise, 'subtitle': offer.title,
'isFullscreen': 1, 'randomHeaderColors': 1} %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    {% endblock %}

    {% block body %}

        <div class="container {% if isFullscreen|default(false) %} fullscreen{% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <div><h1>{{ title }}</h1>
                        <p class="subtitle">{{ subtitle }}</p></div>
                </header>
                <div class="content-site {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}

                    {% endautoescape %}

                    <div id="applyModal" class="ui modal">
                        <i class="close icon"></i>
                        <div class="header">
                            Un petit message à faire passer ?
                        </div>
                        <div class="image content">
                            <div class="description">
                                <p>Envoyer un message personnalisé vous fera vous démarquer du lot, <strong>ne l'oubliez
                                        pas !</strong></p>
                                <form action="{{ path('offer_apply', {'id': offer.id }) }}" method="post"
                                      id="formOffer">
                                    <textarea name="aboutme" id="aboutMe" cols="30" rows="10"></textarea>
                                </form>

                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui black deny button" onclick="handleForm(false, {{ hasCV|e('js') }})">
                                Non merci
                            </div>
                            <div onclick="handleForm(true, {{ hasCV|e('js') }})"
                                 class="ui positive right labeled icon button">
                                Envoyer
                                <i class="checkmark icon"></i>
                            </div>
                        </div>
                    </div>
                    <div id="uploadingModal" class="ui basic modal uploading">
                        <div class="ui text loader">Upload de votre CV en cours...</div>
                    </div>

                    <div class="ui grid">
                        <div class="four wide column">
                            <div class="offer-informations clearfix">
                                <img class="ui image small"
                                     src="{% if offer.imageUrl %}{{ base_upload_url }}{{ vich_uploader_asset(offer, "imageFile") }}{% else %}{{ asset("img/offers/default.png") }}{% endif %}"
                                     alt="">
                                <ul class="datas">
                                    <li><strong>Entreprise : </strong>{{ offer.entreprise }}</li>
                                    <li><strong>Durée : </strong>{{ offer.duree }}</li>
                                    <li><strong>Rémunération : </strong>{{ offer.remuneration }} €</li>
                                    <li><strong>Type : </strong>{{ offer.typeContrat }}</li>
                                    <li><strong>Secteur : </strong>{{ offer.secteur }}</li>
                                    <li><strong>{{ offer.nbPost }}</strong> poste{% if offer.nbPost > 1 %}s{% endif %} à
                                        pourvoir
                                    </li>
                                    <li><strong><i class="fa fa-envelope">&nbsp;&nbsp;</i> </strong><a
                                                href="mailto:{{ offer.contact }}">{{ offer.contact }}</a></li>
                                    <li><strong><i class="fa fa-map-marker">&nbsp;&nbsp;</i>
                                        </strong><a
                                                href="https://www.google.com/maps?q={{ offer.localisation|url_encode }}">{{ offer.localisation }}</a>
                                    </li>
                                    <li><strong><i class="fa fa-calendar">&nbsp;&nbsp;</i>
                                        </strong>{{ offer.publishedAt|date('d/m/Y') }}</li>


                                </ul>


                                {% if app.user and not offer.hasPostuled(app.user) %}
                                    <a class="btn btn-success btn-medium" id="applyOffer"
                                       href=""><i class="fa fa-plus">&nbsp;&nbsp;</i>Postuler
                                        à l'offre</a>
                                {% elseif app.user and offer.hasPostuled(app.user) %}
                                    <span class="blue"><i class="fa fa-info">&nbsp;&nbsp;</i>Vous avez déjà postulé pour cette offre</span>
                                {% else %}
                                    <span class="blue"><i class="fa fa-info">&nbsp;&nbsp;</i>Connectez-vous pour postuler</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="twelve wide column">

                            {{ offer.description|raw }}
                        </div>
                    </div>

                    {% if app.user and is_granted('ROLE_ADMIN') %}

                        <hr>
                        <div class="buttons">
                            <a class="btn btn-info btn-medium" href="{{ path('admin_offer_edit', {'id': offer.id}) }}"><i
                                        class="fa fa-edit">&nbsp;&nbsp;</i>Éditer l'offre</a>
                        </div>
                        <hr>
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                {% if offer.studentsPostuled|length > 0 %}
                                    <h3>Listes des élèves ayant postulés pour cette offre</h3>
                                    <ul class="students">
                                        {% for student in offer.studentsPostuled %}
                                            <li><a href="{{ path('profile', {'username': student }) }}">{{ student }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                {% else %}
                                    <h3>Aucun élève n'a encore postulé pour cette offre</h3>
                                {% endif %}
                            </div>

                    {% elseif (app.user and not is_granted('ROLE_ADMIN')) or (not app.user) %}
                        <hr>
                        <div class="buttons">
                            <form id="editOffer" action="{{ path('admin_offer_edit', {'id': offer.id}) }}" method="get">
                                <input type="hidden" name="p" value="">
                            <button class="btn btn-info btn-medium" type="submit"><i
                                        class="fa fa-edit">&nbsp;&nbsp;</i>Éditer l'offre</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>


                </div>
            </div>
        </div>

    {% endblock %}

    {% block customcss %}

        {% if randomHeaderColors %}
            <style>
                .generic-card header {
                    background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
                {% if isFullscreen|default(false) %} background-attachment: fixed;
                {% endif %}

                }

            </style>
        {% endif %}

    {% endblock %}

    {% block javascripts %}
        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                async defer></script>
        <script>
            function initMap() {
                var latitude, longitude = 0;
                var json = $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address={{ offer.localisation }}", null, function (data) {
                    if (data.results.length > 0) {
                        console.log(data.results[0].geometry.location);
                        latitude = data.results[0].geometry.location.lat;
                        longitude = data.results[0].geometry.location.lng;
                        console.log(latitude);
                        var offerLocalisation = {lat: latitude, lng: longitude};
                        $('.generic-card').children('header').after('<div id="map"></div>');
                        $('.generic-card').children('header').remove();
                        var mapDiv = document.getElementById('map');
                        var map = new google.maps.Map(mapDiv, {
                            center: offerLocalisation,
                            disableDoubleClickZoom: true,
                            zoomControl: false,
                            minZoom: 18,
                            maxZoom: 18,
                            zoom: 18
                        });
                        $('.before-scroll').addClass('map-nav');
                        var html = '<div class="map-header"><h1>{{ offer.entreprise }}</h1><p class="subtitle">{{ offer.title }}</p></div>';
                        $('#map').prepend(html);
                        var marker = new google.maps.Marker({
                            animation: google.maps.Animation.DROP,
                            position: offerLocalisation,
                            map: map,
                            title: '{{ offer.entreprise }}'
                        });

                    }

                })
            }
        </script>
        <script>
            $('#editOffer').submit(function(){
                var password = window.prompt("Veuillez entrer le mot de passe de l'offre");
                if(password == "" || password == undefined){
                    return false;
                }
                $(this).find('input[name="p"]').val(password);
            });
        </script>

        {% if app.user and not offer.hasPostuled(app.user) %}
            <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
            <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
            <script>
                var simplemde = new SimpleMDE({
                    element: $("#aboutMe")[0],
                    spellChecker: false,
                    promptURLs: true,
                    renderingConfig: {
                        codeSyntaxHighlighting: true
                    }

                });

                $('#applyOffer').click(function (e) {
                    e.preventDefault();
                    $('#applyModal').modal('show');
                });

                function handleForm(hasMessage, hasCV) {
                    if (!hasMessage) {
                        simplemde.value('');
                    }
                    $('#formOffer').submit();
                    if (hasCV) {
                        $('#uploadingModal').modal('setting', 'closable', false).modal('show')
                    }
                }

                $(document).ready();
            </script>
        {% endif %}
    {% endblock %}

{% endembed %}